.header_container {
    height: 70px;
    width: 100%;
    background-color: #D7D7E1;
    text-align: left; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1100;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.2px solid rgba(0, 0, 0, 0.3);
}

.menu {
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_left {
    display: flex;
    padding: 0px;
    font-size: 40px;
    width: 50px;

    .menu_logo {
        margin: auto 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        width: 50px;
        cursor: pointer;
        height: 40px;
    }
    
    .menu_title {
        margin-left: 10px !important;
        margin: auto 0;
    }
    
    .logo img {
        width: auto;
        height: 60px;    
    }
    
}

.menu_center {
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
}

.menu_right {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

     /* Form tìm kiếm */
     .search_form {
        margin: 0 auto;
        background: #fff;
        border-radius: 30px;
        display: flex;
        align-items: center;
        transition: all 0.5s ease-in-out;
    }

    .input_holder {
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .search_input {
        border: none;
        outline: none;
        background: none;
        width: 0;
        padding: 0;
        transition: width 0.25s ease-in-out;
        font-size: medium;

    }

    .search_form:focus-within .search_input {
        width: 15rem !important;
        height: 3rem !important;
        padding: 0.5rem 1rem;
        
    }

    .search_icon {
        background-color: transparent;
        cursor: pointer;
        border: none;
        padding: 1rem;
        border-radius: 50%;
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000;
    }


    .log_container button {
        font-weight: bolder;
        font-size: medium;
        margin: auto 20px;
        padding: 8px 20px;
        border: none;
        background: transparent;
        cursor: pointer;
        width: auto;
        height: 40px;
        margin: auto 0 auto 30px;
        color: black;
    }

    .log_container button:hover {
        background: rgb(184, 184, 192);    
        // border: 1px solid #fff;
    }
}
