.chart_container {
    width: 1200px;
    height: auto;
    padding: 20px;
    background: #f5f5f5;
    border-radius: 10px;
    text-align: center;
    margin: 30px auto;
    padding: 20px;
    background-color: #ddd;
    border-radius: 10px

    select {
        margin: 10px;
        padding: 5px;
        font-size: 16px;
    }
}
