.footer {
  height: 100%;
  width: 100%;
  background: #8c8c92;
  text-align: center; 
  top: 0;
  left: 0;
  z-index: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  font-size: small;
  padding-top: 30px;
}
li {
  list-style: none;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;

.footer-left{
  width: 100%;
  margin: 10px;
  left: 0;
  display: flex;
  justify-content: left;
}

.footer-center {
  margin: 10px;
  ul {
    display: flex;
    justify-content: flex-start;
    align-items: self-start;
    flex-direction: column;
    text-align: left;
    margin: 0 auto;
  }
  h2 {
    margin: 0 auto !important;
  }
  a {
    font-size: medium;
    font-weight: normal;
    text-decoration: none;
    color: #000;
    margin: auto 5px;
  }
  span {
    font-size: medium;
    font-weight:bold;
    text-decoration: none;
    color: #000;
    margin: auto 5px;
  }
  a:hover {
    color: #fff;
    transition: color 0.4s ease;
  }
}

.footer-right {
  width: 100%;
  margin: 10px;
  right: 0;
  display: flex;
  justify-content: right;
  align-items: center;
}


  p {
    font-style: bold;
    font-size: medium;
  }
  .icon {
    width: 20px;
    height: auto;
    margin: auto 5px;
    text-decoration: none;
    color: #000;
    :hover {
      color: #fff;
      transition: color 0.3s ease;
    }
  }
}

.footer-bottom {
  margin: 30px auto;
  width: 100%;
  height: 30px;
  background: #8c8c92;
  color: #fff;
  text-align: center;
  font-size: small;
  border-top: 0.1px solid #fff;
  display: flex;
  align-items: center;
  a {
    text-decoration: none;
    color: #000;
    margin: auto 5px;
    :hover {
      color: #fff;
      transition: color 0.4s ease;
    }
  }
  .legal_infor {
    padding-left: 5px;
    border-left: 1px solid #fff;
    
  }
}